@page
@model HistoriaModel
@{
    ViewData["Title"] = "Hisoria Fizzbuzz";
}
<div class="m-2 bg-light font-weight-bold">
    <h1>@ViewData["Title"]</h1>


    <p>Tu pojawiają się twoje ostatnie wyniki (180sekund).</p>
</div>


@if (HistoriaModel.myList != null)
{ 

foreach (var calc in HistoriaModel.myList)
{
<div class="m-2 bg-light font-weight-bold">
    <p>@Html.DisplayNameFor(model => Model.calculate.Number) : @calc.Item1</p>
    <p>@Html.DisplayNameFor(model => Model.calculate.Result):  <span class="font-italic text-success">@calc.Item2</span></p>
    <p>@Html.DisplayNameFor(model => Model.calculate.Time): @calc.Item3</p>
</div>

    }
  
}  else
    {
        <p>Brak wyniku</p>
    }